[submodule "ext/libfuse"]
	path = ext/libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "ext/libunwind"]
	path = ext/libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "ext/libarchive"]
	path = ext/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "ext/sqlite"]
	path = ext/sqlite
	url = https://github.com/mackyle/sqlite.git
[submodule "ext/linenoise"]
	path = ext/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "ext/musl"]
	path = ext/musl
	url = git://git.musl-libc.org/musl
