.obj/*.o
jailfs
jailfs.symtab
jailfs.strings
libjailfs.so
pkg/*
# This is where we store autoconf stuff
examples/*/state/*
examples/*/log/*
examples/*/state/*
examples/*/pkg/*
ext/*
ext/libarchive/*
ext/libfuse/*
ext/libunwind/*
ext/linenoise/*
ext/sqlite/*
