# Leftovers from build (please do make clean!)
.obj/*.o
.obj/*.so
.obj/*
.obj/*/*
cache/*
cache/.*
include/*
bin/*
lib/*
lib/modules/*.so
dbg/*.symtab
dbg/*.strings
jailfs
warden

# Leftover files from runtime
examples/*/state/*
examples/*/log/*
examples/*/state/*
examples/*/pkg/*
pkg/*

# Third party sources (git submodules)
#ext/*
ext/libarchive/*
ext/libbsd/*
ext/libfuse/*
ext/libunwind/*
ext/linenoise/*
ext/musl/*
ext/sqlite/*
